@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

html, body {
  margin:0;
  padding: 0;

}

.logo-letters {
  font-family: 'Protest Revolution', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 2.8rem;
}

.logo {
  font-family: 'Protest Revolution', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: #2f9086;
  text-align: center;
  line-height: 2.8rem;
  justify-self: center;
}

/* #f8f0e3  2f9086*/
.main-nav {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items:center;
  align-items: center;
  background-color:  #ffffff;
  color: #f8f0e3;
  border-bottom: 2px solid #2f9086;
  margin: 0;
  padding: .2rem 0;
}

@media (min-width: 600px) {
  .main-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.social-media {
 justify-self: center;
 list-style: none;
 margin: 0;
 padding: 0;
}
.social-media li {
  display: inline-block;
}

.social-media li a {
  padding: .4rem;
  color: #2f9086;
  /* #f8f0e3 */
}

.nav-links {
  justify-self: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
}
.nav-links li a {
  padding: .4rem;
  color: #2f9086;
  text-decoration: none;
  font-weight: 600;
}


.my-bg-photo {
  position: relative;
  background: url('../images/banner-bg.jpg') no-repeat;
  background-size: cover;
  background-position: right  center;
  text-align: center;
  border-bottom: 3px solid #2f9086;
  margin-top: -1rem;
  padding-top: 0;
}

.header-text {
  font-size: 1.2rem;
  color: #fff;
  padding-right: .8rem;
  margin: 0;
}

.my-bg-photo p {
  color: #fff;
  font-size: 1rem;
}

header.my-bg-photo p:nth-child(1) {
  padding-top: 2rem;
}
header.my-bg-photo p:nth-child(2) {
  padding-bottom: 2rem;
  margin-top: -20px
}

.my-bg-photo * {
  position: relative;
  z-index: 10;
}

.my-bg-photo:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: .5;
}

/* .my-drawing {
  transition: all .33s ease-out;
  height: 10%;
  object-fit: fill;
} */

/* .my-drawing:hover {
  transform: scale(1.054) rotate(15deg);
} */

.text-p {
  padding: 0.3rem .2rem;
}

.presentation {
  box-sizing: border-box;
  text-align: center;
  background: url('../images/steel-blue-white-pendant.jpg') no-repeat left, url('../images/canvas-hexagon-blue.jpg') no-repeat right;
  background-size: 50%, 50%;
  line-height: 20rem;
  object-fit: fill;
}
.presentation img {
  height: auto;
  width: 90vw;
}

/* css grid index page*/
.main-alt { 
  box-sizing: border-box;
  position: relative;
 /*  right: 10px;
  background: url('../images/magnets.jpg') no-repeat;
  background-size: 40vw;
  background-position: right  center; */
  text-align: left;
  padding-left: 2rem;
}
.main-alt p {
  width: 90vw;
  padding: 0 1rem 1rem 0;
}
.main-alt h1 {
  width: 50%;
  padding: 0;
}

.info-contact {
  padding: 1rem;
}
.info-contact h2 {
  padding-left: 1.1rem;
}
.main-alt ul {
  padding-left: 1.2rem;
  text-align: center;
}
.main-alt ul li {
  list-style: none;
  display: inline-block
}
.main-alt ul li a {
  padding: 0.6rem;
  background-color: #000;
  color: #fff;
  text-decoration: none;
}
.main-alt ul li a:hover {
  color: #fff;
}


.image-gallery {
  max-width: 1100px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  justify-items:center;
  align-items: center;
}
.image-gallery-item {
  padding: .3rem;
  width:160px;
  height:160px;
}

@media (max-width: 600px) {
  .main-alt {
    display: flex;
    flex-direction: column;
    background: none;
    text-align: left;
    box-sizing: border-box;
  }
  .main-alt p {
    width: 100%;
    padding: 0;
    flex-grow: 1;
  }
  .main-alt h1 {
    width: 100%;
    padding: 0;
    flex-grow: 1;
  }
}

.grid-container {
  display: grid;
  grid-template-columns:  2fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  justify-items: start;
  padding: 0 1rem;
  box-sizing: border-box;
}
.item {
  padding: 1rem;
  align-self: start;
}
.item img {
  height: 10%;
  width: 100%;
}
@media (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr; */
    align-items: start;
    justify-items: start;
  }
  .item {
    width: 90vw;
    align-self: start;
  }
  .item img {
    height: 10%;
    width: 100%;
  }
}

/* css grid craft page*/
.grid-parent-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.child-item {
  padding: .2rem;
  overflow: hidden;
  display: grid;
  justify-items: center;
}
.child-item img {
  object-fit: fill;
  width: 12rem;
  height: 12rem;
}
.child-item p {
  width: 12rem;
  text-align: center;
}

.footer {
  font-size: 0.8rem;
  color: #666;
  border-top: 1px solid #999;
  text-align: center;
  padding: .5rem;
  line-height: 1.3rem;
  margin: 0;
}

/*css grid about page */
.grid-about {
  display: grid;
  grid-template-rows: 1fr;
  align-items: start;
  justify-items: start;
  row-gap: 0.5rem;
  padding: .2rem 1rem;
}
.card {
  padding: 0;
  margin: .5rem 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fbf6e6;
  /* border-top-left-radius: 10px;
  border-bottom-right-radius: 10px; */
}

.card-header {
  line-height: 1.5rem;
  background-color: #d5d8d8;
  padding: .4rem;
  font-size: 1.2rem;
  font-weight: 500;
  /* border-top-left-radius: 10px; */
  /* border-top-right-radius: 10px; */
}
.card-body {
  padding: .4rem;
  line-height: 1.2rem;
  font-size: 1rem;
  display: flex;
  align-items: flex-start;
  gap: .2rem .5rem;
  box-sizing: border-box;
}

.card-body img {
  object-fit: contain;
  width: 30%;
  margin: 0.2rem 0.4rem;
  flex-grow: 1;
}

.card-body p {
  margin: 0.2rem 0.4rem;
  flex-grow: 1;
}

@media (max-width: 600px) {
  .card-body {
    display: felx;
    flex-direction: column;
  }
  .card-body img {
    object-fit: fill;
    width: 70%;
    margin: 0.2rem 0.4rem;
    flex-grow: 1;
    margin: 0.4rem auto;
    
  }
}